


<div class="mainBlock">
    <h2> Who is Jorge Avila Juarez? </h2>
    <div class="blockContent">
        <p class="block">Jorge is a rising senior at The University of Texas of Arlington majoring in Computer Engineering (CPE). 
         Graduating highschool back in May of 2017 and quickly enrolling in 
         Tarrant Community College,
         finishing his associates degree in the Fall of 2018. 
         Jorge was born in Michoacàn, Mexico, in a small
         town called: "La Cañada", which was an hour away from the state capital. 
         He migrated here when he was only 
         6 months of being born and has grew up in the American lifesyle. 
         He comes from industrious parents that are 
         always willing to push him for better. Did we mention he speaks Spanish and Portuguese besides English? &nbsp;</p>
        <h2> Why The Computer Science Field?</h2>
        <p class="block">Jorge chose this major because software and computer science allows for
        people of all ages to learn and have opportunities to make interesting projects. Technology in general is ubiquitous and versatile. 
        He likes to have problem solving tasks that allow him to better himself and to think and work logically different. 
        As a student in this field, he says: "it enables you to make positive change in the world, such as: in the medical field,
        security in the internet, or simply making cool games for a wide range of age groups.&nbsp;</p>
        <h2> Jorge's Resume</h2>
        <p class="block">Click <a href='/resume2020.pdf' > Here</a> to view Jorge's Resume </p>
    </div>
</div>
