<h2> Who is Jorge Avila Juarez? </h2>


<div class="sqs-block html-block sqs-block-html">
    <div class="sqs-block-content">
        <p class="" style="white-space:pre-wrap;">         I am a rising senior at The University of Texas of Arlington majoring in Computer Engineering (CPE). 
         I graduated highschool back in May of 2017 and quickly enrolled in Tarrant Community College,
         finishing my associates degree in Fall of 2018.  &nbsp;</p>
        <p class="" style="white-space:pre-wrap;">So: how many problems could you previously only solve if you applied
            the aggregate behavior of millions or hundreds of millions of people, which you now could solve with machine
            learning, without having any users of your own?&nbsp;</p>
    </div>
</div>
